
[submodule "ImGui"]
	path = Tomato/Tomato/dependencies/ImGui/imgui
	url = https://github.com/ocornut/imgui.git

[submodule "stb_image"]
	path = Tomato/Tomato/dependencies/stb_image/stb_image
	url = https://github.com/nothings/stb.git
[submodule "Tomato/Tomato/dependencies/yaml-cpp/yaml-cpp"]
	path = Tomato/Tomato/dependencies/yaml-cpp/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp.git
[submodule "Tomato/Tomato/dependencies/entt"]
	path = Tomato/Tomato/dependencies/entt
	url = https://github.com/skypjack/entt.git
